.bloc{
    background-color: brown;
    color: burlywood;
    width: 120px;
    height: 120px;
    margin: 5px;
    text-align: center;

}

.container{
    display: flex;
}

.start{
    background-color: green;
    justify-content: flex-start;
}

.center{
    background-color: green;
    justify-content: center;
}

.end{
    background-color: green;
    justify-content: end;
}
.sb{
    background-color: green;
    justify-content: space-between;
}

.around{
    background-color: green;
    justify-content: space-around;
}